@mixin one-row-text($pl: "", $pr: "") {
    overflow: hidden !important;
    text-wrap: nowrap;
    text-overflow: ellipsis;

    padding-left: $pl;
    padding-right: $pr;
}

@mixin overlay($opacity: 0.2, $color: black, $blur: 2px, $center: true) {
    top: 0;
    left: 0;
    position: absolute;

    width: 100%;
    height: 100dvh;

    @if $center == true {
        display: grid;
        place-items: center;
    }

    backdrop-filter: blur($blur);
    background-color: rgba(black, $opacity);
}
