@import './variables.scss';

@font-face {
    font-family: tagsna;
    src: url('../../public/Assets/Tagsna.ttf');
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    box-shadow: 0 0 10px -2px rgba($color: #000000, $alpha: 0.25);
    
    .logo{
        display: flex;
        
        align-items: center;
        gap: 0.5rem;

        p{
            font-size: 28px;
            font-family: tagsna;

            color: $darkPrimary;
        }
    }
    
}

.menu{
    

    .option{
        cursor: pointer;
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        transition: 250ms;

        &:hover {
            box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.1);

            .border{
                width: 10px;
               
            }
        }

        .border{
            background-color: $primary;
            height: 45px;
            width: 0px;

            transition: 250ms;
        }

        &_selected {
            @extend .option;

            background-color: rgba($color: $primary, $alpha: 0.1);

            &:hover{
                background-color: rgba($color: $primary, $alpha: 0.3);
            }

            .border{
                width: 4px;
            }
        }
    }
}

.menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    span{
        cursor: pointer;
        
        font-size: larger;
        font-weight: bold;
        color: $primary;
    }
}