.container {
    padding: 1rem;
    column-count: 7;
    column-gap: 10px;

    span {
        margin: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: 10px;
        break-inside: avoid;
    }

    img {
        max-width: 100%;
        display: block;
        grid-row: 1 / -1;
        grid-column: 1;

        border-radius: 0.25rem;
    }
}

.empty_picture_container {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    left: 50%;
    transform: translateX(-50%);

    height: 400px;
    width: 70%;
    max-width: 350px;

    .main {
        text-align: center;
        letter-spacing: 1px;
        font-weight: 900;
    }

    .desc {
        margin-top: 0.5rem;
        text-align: justify;
        color: var(--mantine-color-dimmed);
    }

    @media (min-width: 450px) {
        .desc {
            text-align: center;
        }
    }
}

.column {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 0.5rem;
    break-inside: avoid;

    overflow: hidden;

    img {
        transition: 1s;

        filter: blur(0rem);
        width: 100%;
    }

    .blur {
        filter: blur(1rem);
    }
}

@media (max-width: 1200px) {
    .container {
        column-count: 5;
    }
}

@media (max-width: 1000px) {
    .container {
        column-count: 4;
    }
}

@media (max-width: 800px) {
    .container {
        column-count: 3;
    }
}

@media (max-width: 400px) {
    .container {
        column-count: 2;
    }
}
