@use "mixins";
@import "./variables.scss";

.container {
    padding: 1rem;
    column-count: 7;
    column-gap: 10px;

    .picture {
        border-radius: 0.3rem;
        position: relative;
        /* border: 1px solid $border inset; */

        // Moved border to the inside
        border: 1px solid $border;
        box-shadow: 0 0 0 1px $border inset;
        padding: 1px;

        margin-bottom: 10px;

        &_selected {
            @extend .picture;

            border-color: $primary;
            box-shadow: 0 0 0 1px $primary inset;

            img {
                border-radius: 0.1rem;
            }

            .picture_check {
                @include mixins.center();

                background-color: $primary;

                position: absolute;
                z-index: 10;

                right: 0;
                padding: 0.25rem;
                border-bottom-left-radius: 0.5rem;

                svg {
                    color: $body;
                }
            }
        }

        &_check {
            display: none;
        }
    }

    img {
        user-select: none;

        max-width: 100%;
        width: 100%;

        display: block;
        grid-row: 1 / -1;
        grid-column: 1;

        border-radius: 0.25rem;
        cursor: pointer;
    }
}

.multiSelect_nav {
    padding: 0.5rem 1rem;
    background-color: $body;
    box-shadow: 0 4px 10px -5px rgba(#000000, 0.25);

    @include mixins.d-flex($justify: space-between);

    .actions {
        @include mixins.d-flex();
    }

    p {
        font-size: 20px;
    }
}

.overflow_hidden {
    border-radius: 0.25rem;
    overflow: hidden;
}

.column {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 0.5rem;
    break-inside: avoid;
}

.no_scroll {
    overflow: hidden;
}

.empty_picture_container {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    left: 50%;
    transform: translateX(-50%);

    height: 400px;
    width: 70%;
    max-width: 350px;

    .main {
        text-align: center;
        letter-spacing: 1px;
        font-weight: 900;
    }

    .desc {
        margin-top: 0.5rem;
        text-align: justify;
        color: var(--mantine-color-dimmed);
    }

    @media (min-width: 450px) {
        .desc {
            text-align: center;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        column-count: 5;
    }
}

@media (max-width: 1000px) {
    .container {
        column-count: 4;
    }
}

@media (max-width: 800px) {
    .container {
        column-count: 3;
    }
}

@media (max-width: 400px) {
    .container {
        column-count: 2;
    }
}
